Source: popularity-contest
Section: misc
Priority: optional
Maintainer: Popularity Contest Developers <popcon-developers@lists.alioth.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>, Bill Allombert <ballombe@debian.org>
Build-Depends-Indep: debhelper (>=4.1.16)
Standards-Version: 3.6.2

Package: popularity-contest
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, dpkg (>= 1.10) | dpkg-awk
Recommends: cron, exim4 | mail-transport-agent, mime-construct
Suggests: anacron
Provides: popcon
Description: Vote for your favourite packages automatically
 The popularity-contest package sets up a cron job that will
 periodically anonymously submit, to the distribution developers,
 statistics about the most used packages on this system.
 .
 This information helps making decisions such as which packages should
 go on the first CD.  Also, it helps improving can improve future
 versions of the distribution so that the most popular packages are
 the ones which are installed automatically for new users.
 .
 Homepage: http://popcon.debian.org

